In [1]:
import pandas as pd
from sklearn import linear_model
import numpy as np

In [2]:
df = pd.read_excel('homeprices.xlsx')

In [3]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [4]:
missing = int(df.bedroom.median())

In [5]:
df['bedroom'].fillna(missing, inplace=True)

In [6]:
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

### DATA PREPROCCESSING CLEAR

In [7]:
Model = linear_model.LinearRegression()

In [8]:
Model.fit(df[['area','bedroom','age']], df.price)

LinearRegression()

### prediction is ready now

In [9]:
y_predict = Model.predict(df[['area','bedroom','age']])

In [10]:
y_predict

array([526000., 589000., 622000., 595000., 748000.])

In [11]:
Column = pd.DataFrame({'PredictedPrice': y_predict})

In [12]:
df.join(Column)

   area  bedroom  age   price  PredictedPrice
0  2600      3.0   20  550000        526000.0
1  3000      4.0   15  565000        589000.0
2  3200      3.0   18  610000        622000.0
3  3600      3.0   30  595000        595000.0
4  4000      5.0    8  760000        748000.0

In [13]:
a = Model.coef_
a

array([   137.25, -26025.  ,  -6825.  ])

In [19]:
a1 = 137.25
a2= -26025.0
a3= -6825.0

In [20]:
b = Model.intercept_
b

383724.9999999998

### EQUATION: y = a1x+a2y+a3z+b

In [25]:
print('tell me below questions, I will tell you Pridicted Price')

x = int(input("how much area you need? "))
y = int(input("how many bedroom do you need? "))
z = int(input("what should age of house ? "))

y_predict = (a1*x)+(a2*y)+(a2*z)+b
y_predict

tell me below questions, I will tell you Pridicted Price
how much area you need? 3200
how many bedroom do you need? 3
what should age of house ? 18

276399.9999999998