In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
data  = pd.read_csv("boston.csv")

In [6]:
data

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [26]:
X = data.drop('price',axis=1)
y = data['price']
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: price, Length: 506, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [15]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [16]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_pred = model.predict(X_train)

In [18]:
pd.DataFrame({'y_train':y_train ,"y_pred_train":y_pred })

     y_train  y_pred_train
245     18.5     13.543341
59      19.6     21.036118
276     33.2     35.257074
395     13.1     19.311807
416      7.5     12.919346
..       ...           ...
323     18.5     19.472266
192     36.4     33.230596
117     19.2     23.707617
47      16.6     18.223432
172     23.1     23.111597

[379 rows x 2 columns]

In [20]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_train,y_pred)

19.640519427908043

In [22]:
from sklearn.metrics  import r2_score
r2_score(y_train,y_pred)

0.7697699488741149

In [23]:
y_pred_test = model.predict(X_test)

In [24]:
mean_squared_error(y_test,y_pred_test)

29.782245092302343

In [25]:
r2_score(y_test,y_pred_test)

0.6354638433202131

# Standardization
        from sklearn.preprocessing import StandardScaler
        scaler = StandardScaler().fit(X_train)
        standardized_X = scaler.transform(X_train)
        standardized_X_test = scaler.transform(X_test)
# Normalization
        from sklearn.preprocessing import Normalizer
        normalizer = preprocessing.Normalizer().fit(X)
        fit does nothing normalizer

FAQs
# 1. Is normalisation and standardisation same?
Standardization is divided by the standard deviation after the mean has been subtracted. Data is transformed into a range between 0 and 1 by normalization, which involves dividing a vector by its length.
        standardized_data =  (data-mean_of_data)/st_of_data

# 2. Why is standardization preferred over normalization?
When the data has a normal distribution, standardization is an excellent tool to use. It can be utilized in a machine learning process when assumptions are made on the distribution of the data, such as in linear regression.

# 3. What is the difference between normalization and scaling?
Changing the range of your data with scaling is different from changing the distribution of your data with Normalization.

# 4. Should I normalize or standardize my data?
When your data have different dimensions and the method you're employing, like k-nearest neighbors or artificial neural networks, doesn't make assumptions about the distribution of your data, normalization is helpful. Standardization presupposes that the distribution of your data is Gaussian.

# 5. Does normalizing improve accuracy?
Your marketing database will be more accurate and contextualized thanks to the systematic process of grouping related information into a common value called data normalization. Data normalization formats your data such that it appears and reads consistently across all database records.

# 6. Which is better, normalization or standardization?
If your feature (column) contains outliers, normalizing your data will scale most of the data to a small interval, ensuring that all components have the same scale but failing to manage outliers adequately. Max-Min Normalization is rarely preferred over standardization since it is less resistant to outliers.

In [29]:
from sklearn.preprocessing import StandardScaler
# creating object
scaler = StandardScaler()

# fitting and transforming data_train
standardized_x = scaler.fit_transform(X_train)
# fitting and transforming data_test
standardized_X_test  = scaler.fit_transform(X_test)

In [32]:
standardized_x

array([[-0.3906002 ,  0.42637011, -0.74491444, ...,  0.27878885,
         0.34049624,  0.82212111],
       [-0.40127639,  0.5525335 , -0.84901832, ...,  0.55287698,
         0.42774893, -0.46241699],
       [-0.40110543,  1.18335044, -0.66648002, ..., -0.40643148,
         0.34184377, -0.90310809],
       ...,
       [-0.3954927 , -0.49882807, -0.15309105, ..., -0.31506877,
         0.40091059, -0.31227617],
       [-0.38599992, -0.49882807, -0.59517599, ..., -0.26938741,
         0.38103449,  0.86938766],
       [-0.39692832, -0.49882807, -1.003035  , ..., -0.86324503,
         0.42774893,  0.29801844]])

In [33]:
model.fit(standardized_x,y_train)
y_pred_standerdized = model.predict(standardized_x)

In [34]:
r2_score(y_train,y_pred_standerdized)

0.7697699488741149

In [35]:
y_pred_standerdized_test = model.predict(standardized_X_test)

In [36]:
r2_score(y_test,y_pred_standerdized_test)

0.6254705963094744

# Lasso and Ridge Regression
https://www.datacamp.com/tutorial/tutorial-lasso-ridge-regression

In [37]:
from sklearn.linear_model import Ridge, RidgeCV, Lasso

In [38]:
ridgeReg = Ridge(alpha=10)

ridgeReg.fit(X_train,y_train)

#train and test scorefor ridge regression
train_score_ridge = ridgeReg.score(X_train, y_train)
test_score_ridge = ridgeReg.score(X_test, y_test)

In [39]:
train_score_ridge

0.7623745182677772

In [40]:
test_score_ridge

0.6132773047206995

In [41]:
print("\nLasso Model............................................\n")
lasso = Lasso(alpha = 10)
lasso.fit(X_train,y_train)
train_score_ls =lasso.score(X_train,y_train)
test_score_ls =lasso.score(X_test,y_test)

print("The train score for ls model is {}".format(train_score_ls))
print("The test score for ls model is {}".format(test_score_ls))

Lasso Model............................................

The train score for ls model is 0.5588046664329231
The test score for ls model is 0.3991161832890223