In [1]:
import pandas as pd

In [2]:
sales =pd.Series([4500,15000,15600,44000,56000,10000,3000,4000,34000,1000], index=['Ali', 'Hassan', 'Nasir', 'Shoaib', 'Kashif',"Ahmed", 'Sohail', 'Shakeel', 'Asad','Hamza'])

sales

Ali         4500
Hassan     15000
Nasir      15600
Shoaib     44000
Kashif     56000
Ahmed      10000
Sohail      3000
Shakeel     4000
Asad       34000
Hamza       1000
dtype: int64

In [3]:
sales.apply(lambda s: s+s*.10)

Ali         4950.0
Hassan     16500.0
Nasir      17160.0
Shoaib     48400.0
Kashif     61600.0
Ahmed      11000.0
Sohail      3300.0
Shakeel     4400.0
Asad       37400.0
Hamza       1100.0
dtype: float64

In [4]:
sales.apply(lambda s: s+s*.10 if s>50000 else s+s*.07 if s>40000 else s+s*.05 if s>20000 else s+s*.02)

Ali         4590.0
Hassan     15300.0
Nasir      15912.0
Shoaib     47080.0
Kashif     61600.0
Ahmed      10200.0
Sohail      3060.0
Shakeel     4080.0
Asad       35700.0
Hamza       1020.0
dtype: float64

In [8]:
def Discount(amount):
    if amount>500000:
        return amount+amount*.10
    elif amount>40000:
        return amount+amount*.07
    elif amount>20000:
        return amount+amount*.05
    else:
        return amount+amount*.02

In [9]:
sales.apply(Discount)

Ali         4590.0
Hassan     15300.0
Nasir      15912.0
Shoaib     47080.0
Kashif     59920.0
Ahmed      10200.0
Sohail      3060.0
Shakeel     4080.0
Asad       35700.0
Hamza       1020.0
dtype: float64

In [ ]:
sales