# Introduction to Python for Data Analytics
    - Python is an open source programming language
    - we will use anaconda distribution for running python
    - Jupyter notebook will be out IDE from anaconda to do data analytics 
    - Python is a case sensitive langauge 
    - Python is a high level language

# Todays Topics :
     - Print function
     - Data types
     - Variables

### print

In [5]:
print(100)

100

In [6]:
print( Syed Asif Raza )

SyntaxError: invalid syntax (<ipython-input-6-3110b78f7dde>, line 1)

In [7]:
print( "Syed Asif Raza" )

Syed Asif Raza

In [8]:
print( "Syed Asif Raza", "Saqib Ali", "Zeeshan Ameer Ali" )

Syed Asif Raza Saqib Ali Zeeshan Ameer Ali

In [9]:
print("Syed Asif Raza", 500)

Syed Asif Raza 500

Value refers to data 

Data > text , numbers , 

       Boolean (True /False ) >> bool

Text data in python >>>> String (str)

"Hassan" , "100", 'Nasir', '''Python '''

Numbers data >>> numeric data 

                    whole numbers    >>> integers (int)
                    
                    decimal numbers  >>> float (float)

In [36]:
print("Pakistan", True,False, 1200, 98.56)

Pakistan True False 1200 98.56

##### Making String using single double and triple quotes
     "Pakistan"
     'Pakistan'
     '''Pakistan'''

In [37]:
print("I am a python leaner")

I am a python leaner

In [38]:
print('We are learning Data Analytics at SBIL')

We are learning Data Analytics at SBIL

We can not make a string with more than one lines using single or double quoatatons

But we can make a multiline string using a tripple qouates

In [39]:
print('I am a python leaner
      We are learning Data Analytics at SBIL')

SyntaxError: EOL while scanning string literal (<ipython-input-39-9159d4f5fcf1>, line 1)

In [40]:
print('''I am a python leaner 
We are learning       
Data Analytics       
at SBIL''')

I am a python leaner
We are learning
Data Analytics
at SBIL

# type()
     to check the type of data of any given value

In [41]:
type("SBIL")

str

In [42]:
type(890)

int

In [43]:
type(45.45)

float

In [44]:
type(True)

bool

# Variables
      - variable is identifier of any data
      - variable holds data and acts as a container
      - variables stores data on RAM.

In [45]:
student = "Aftab Mohiuddin"

A value "Aftab Mohiuddin" of type string is assigned to a variable student using assignment operator =

In [46]:
print(student)

Aftab Mohiuddin

In [47]:
id(student)

2082543824112

In [28]:
number = 123

In [48]:
number

123

In [49]:
marks = 89

In [50]:
marks

89

In [51]:
number + marks

212

In [34]:
firstname = 'Nasir'
lastname = 'Hussain'

In [52]:
firstname + lastname

'NasirHussain'

# Illegal Variable Names
      - python keywords (if else break continue open close for while   in not etc...
      - space in varaible 
      - starting with a number 
      - Use of Special character !@#$%^&*(){}"<>?

In [54]:
fathername  = "Abdul Rasheed"

In [55]:
father_name = "Abdul Rasheed"

In [56]:
fatherName = "Abdul Rasheed"

In [57]:
my_first_book_on_programming = "Programming for kids"

In [59]:
my_1st_BookOnProgramming = "Programming for kids"

In [61]:
my(1st)BookOnProgramming = "Programming for kids"

SyntaxError: invalid syntax (<ipython-input-61-8d0d57e64171>, line 1)

In [62]:
type(marks)

int

In [63]:
type(number)

int

In [64]:
type(fathername)

str

# Operators 
       +, -, *, /, //, **, %, >, <, >=, <=, ==, !=

In [65]:
val1 = 45
val2 = 78

In [66]:
val2 + val1

123

In [67]:
val2 - val1

33

In [68]:
val2 * val1

3510

#### Float Division
when both values are integers

In [69]:
val2 / val1

1.7333333333333334

#### Integer Division
when both values are integers

In [70]:
val2 // val1

1

In [74]:
print(2**3, 3**2,4**3)

8 9 64

In [75]:
10/5   #it returns quoatient

2.0

In [76]:
10%5  # it return remainder of the divsion

0

In [77]:
20%6

2

In [78]:
30%9

3

#### Boolean operators

In [79]:
500 > 400

True

In [80]:
500 < 400

False

In [81]:
500 == 400

False

In [82]:
500 == 1000/2

True

In [83]:
2 >=2

True

In [84]:
2 <= 2

True

In [85]:
5 != 6

True

# Operator Precedence

In [86]:
10 - 4 * 2

2

In [87]:
(10 - 4) * 2

12

Operators           Meaning
()	                Parentheses
**	                Exponent
+x, -x, ~x	        Unary plus, Unary minus,
*, /, //, %	        Multiplication, Division, Floor division, Modulus
+, -	            Addition, Subtraction

# Increment Operator / Decrement Operator

In [88]:
num = 100

In [109]:
print(num+1)

123

In [92]:
num = num + 1 #101

In [113]:
num

122

In [114]:
num +=1
print(num)

123

In [102]:
num -=1
print(num)

102

In [106]:
num +=5
print(num)

122

In [116]:
 print(5 * 2 // 3)

3

In [117]:
print(5 * 2 / 3)

3.3333333333333335

In [118]:
print(2 ** 3 ** 2)

512

In [121]:
num  = int(input("Enter a number of your choice: "))

if num %2 == 0:
    print("You have supplied an even number")
else:
     print("You have supplied an odd number")

Enter a number of your choice: 10
You have supplied an even number