# Functions
    - functions are block of code that performs a specific task Every time when it is called or invoked.

In [1]:
# function definition
def add_values():
    a = 10 
    b = 20
    c = a+b
    print(c)
    
# parameter less function

In [2]:
# call 

add_values()

30

In [4]:
# parmetrized function
def add(num1,num2):
    print(num1+num2)

In [6]:
# positional arguments
add(20,30)

50

In [7]:
# positional arguments
add(2,5)

7

In [8]:
# positional arguments
add(7,9)

16

In [11]:
def full_name(student_name,father_name):
    print(f'student name is {student_name} and his father name is {father_name}')

In [12]:
# positional arguments
full_name('Muhammad ALi','Muhammad Aslam')

student name is Muhammad ALi and his father name is Muhammad Aslam

In [13]:
# positional arguments
full_name('Muhammad Aslam', 'Muhammad Ali')

student name is Muhammad Aslam and his father name is Muhammad Ali

In [14]:
# keyword argumnets

full_name(father_name="Muhammad Aslam", student_name="Muhammad Ali")

student name is Muhammad Ali and his father name is Muhammad Aslam

In [15]:
def add_values(a,b,c):
    print(f'''
        The value of a is {a}
        The value of b is {b}
        The value of c is {c}
        
        The sum of a b c is {a+b+c}
        ''')

In [18]:
# keyword arguments
add_values(c=300,a=100,b=200,)

        The value of a is 100
        The value of b is 200
        The value of c is 300

        The sum of a b c is 600

In [22]:
def tax_calculator(salary):
    if salary >= 100000:
        tax_amount = salary*.10
    elif salary >= 75000:
        tax_amount = salary * .075
    elif salary >= 50000:
        tax_amount = salary * .05
    else:
        tax_amount = salary * 0
    print(f"Your salary is {salary}")
    print(f"Your tax is {tax_amount}")
    print(f"Your net salary is {salary-tax_amount}")

In [23]:
tax_calculator()

TypeError: tax_calculator() missing 1 required positional argument: 'salary'

In [24]:
tax_calculator(100000)

Your salary is 100000
Your tax is 10000.0
Your net salary is 90000.0

In [31]:
def salaryCalc(sales,basic_salary=25000):
    if sales <= 1000:
        commission =  basic_salary * .02
    elif sales <= 2000:
        commission =  basic_salary * .04
    elif sales <= 3000:
        commission =  basic_salary * .06
    elif sales <= 4000:
        commission =  basic_salary * .08
    else:
        commission =  basic_salary * .10 
    print(basic_salary + commission)

In [33]:
emp1_salary = salaryCalc(5000,50000)
emp1_salary

55000.0

In [34]:
emp2_salary = salaryCalc(2000)
emp2_salary

26000.0

In [35]:
print("abcd","xyz")

abcd xyz

In [36]:
print("abcd","xyz",sep="__")

abcd__xyz

# 8-2. Favorite Book: Write a function called favorite_book() that accepts one
parameter, title The function should print a message, such as One of my
favorite books is Alice in Wonderland Call the function, making sure to
include a book title as an argument in the function call

In [37]:
def favorite_book(title):
    print(f"One of my favorite books is {title}")

In [38]:
favorite_book("Python Crash Course")

One of my favorite books is Python Crash Course

In [39]:
favorite_book("Alice in Wonderland")

One of my favorite books is Alice in Wonderland

8-3. T-Shirt: Write a function called make_shirt() that accepts a size and the
text of a message that should be printed on the shirt The function should print
a sentence summarizing the size of the shirt and the message printed on it
Call the function once using positional arguments to make a shirt Call the
function a second time using keyword arguments

In [40]:
def make_shirt(size,txt):
    print(f"The size of the shirt is {size}")
    print(f"The message printed on shirt is: {txt}")

In [41]:
make_shirt('Medium','Be Happy')

The size of the shirt is Medium
The message printed on shirt is: Be Happy

In [42]:
make_shirt('Medium','I love Python')

The size of the shirt is Medium
The message printed on shirt is: I love Python

In [43]:
make_shirt('Small','Hurrahhhhhhhhhh')

The size of the shirt is Small
The message printed on shirt is: Hurrahhhhhhhhhh

8-4. Large Shirts: Modify the make_shirt() function so that shirts are large
by default with a message that reads I love Python Make a large shirt and a
medium shirt with the default message, and a shirt of any size with a different
message

In [44]:
def make_shirt(size='Large',txt="I love Python"):
    print(f"The size of the shirt is {size}")
    print(f"The message printed on shirt is: {txt}")

In [45]:
make_shirt()

The size of the shirt is Large
The message printed on shirt is: I love Python

In [46]:
make_shirt("Medium")

The size of the shirt is Medium
The message printed on shirt is: I love Python

In [47]:
make_shirt("small", "Beautiful")

The size of the shirt is small
The message printed on shirt is: Beautiful

# Return Values

In [69]:
def salaryCalc(sales,basic_salary=25000):
    if sales <= 1000:
        commission =  basic_salary * .02
    elif sales <= 2000:
        commission =  basic_salary * .04
    elif sales <= 3000:
        commission =  basic_salary * .06
    elif sales <= 4000:
        commission =  basic_salary * .08
    else:
        commission =  basic_salary * .10 
    total = basic_salary + commission
    return total
    
# all the variable declared inside a function are local variables
# scope of local variables is inside the function
# local variables can not be accesses outside the function

In [68]:
emp1 = salaryCalc(500,30000)
print(emp1)

30600.0

In [78]:
def random_func():
    c = 2 + 4
    return c

In [79]:
c = random_func()

In [80]:
print(c)

6

8-7. Album: Write a function called make_album() that builds a dictionary
describing a music album The function should take in an artist name and an
album title, and it should return a dictionary containing these two pieces of
information Use the function to make three dictionaries representing different
albums Print each return value to show that the dictionaries are storing the
album information correctly
Add an optional parameter to make_album() that allows you to store the
number of tracks on an album If the calling line includes a value for the number of tracks, add that value to the albumâ€™s dictionary Make at least one new
function call that includes the number of tracks on an album

In [2]:
def make_album(artist_name, album_title):
    music_album = {}
    
    music_album['artist_name'] = artist_name
    music_album['album_title'] = album_title
    
    return music_album

In [3]:
make_album('hassan ali', 'yeh jahan')

{'artist_name': 'hassan ali', 'album_title': 'yeh jahan'}

In [4]:
make_album('nasir', 'hello')

{'artist_name': 'nasir', 'album_title': 'hello'}

In [10]:
def make_album(artist_name, album_title,num_of_track=''):
    music_album = {}
    
    music_album['artist_name'] = artist_name
    music_album['album_title'] = album_title
    music_album['tracks'] = num_of_track
    
    return music_album

In [11]:
make_album("asad","OK",10)

{'artist_name': 'asad', 'album_title': 'OK', 'tracks': 10}

In [12]:
make_album("asad","OK")

{'artist_name': 'asad', 'album_title': 'OK', 'tracks': ''}

In [8]:
value = ''

In [9]:
bool(value)

False

In [28]:
def make_album2(artist_name, album_title,num_of_track=''):
    music_album = {}
    
    music_album['artist_name'] = artist_name
    music_album['album_title'] = album_title
    if num_of_track:
         music_album['tracks'] = num_of_track       
    return music_album

In [29]:
make_album2("asad","OK",10)

{'artist_name': 'asad', 'album_title': 'OK', 'tracks': 10}

In [30]:
make_album2("asad","OK")

{'artist_name': 'asad', 'album_title': 'OK'}