# Revision of if else and elif

1) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years,10% to employee if his/her year of service is more than 10 years,15% to employee if his/her year of service is more than 15 years,20% to employee if his/her year of service is more than 20 years.
Ask user for their salary and year of service and print the net bonus amount.

In [1]:
bonus_amount = 0 
current_salary = float(input("Enter your current salary: "))
service_years = float(input("Enter your total year of service:"))
if service_years > 10:bonus_amount = current_salary* .20    
elif service_years>5:bonus_amount = current_salary * 0.15
elif service_years>3:bonus_amount = current_salary * 0.10
elif service_years>2:bonus_amount = current_salary*0.05
else:bonus_amount = current_salary*0

print(f"Your bonus amount is {bonus_amount}" )

Enter your current salary: 6
Enter your total year of service:5
Your bonus amount is 0.6000000000000001

# Todays Topic
   - nested ifs 
   - Collections (Python Data structures)
         - list 
         - tuple
         - dictionaries 
         - set

In [2]:
# a student is declared pass only if he passes all the papers

In [7]:
paper1 = float(input("Enter marks in paper1: "))
paper2 = float(input("Enter marks in paper2: "))
paper3 = float(input("Enter marks in paper3: "))
paper4 = float(input("Enter marks in paper4: "))
paper5 = float(input("Enter marks in paper5: "))

if paper1 >=50:
    if paper2>=50:
        if paper3>=50:
            if paper4>=50:
                if paper5>=50:
                    result = "Pass"
                else:
                    result="Fails"
            else:
                result="Fails"
        else:
            result="Fails"
    else:
        result="Fails"        
else:
    result="Fails"

print(result)

Enter marks in paper1: 78
Enter marks in paper2: 89
Enter marks in paper3: 90
Enter marks in paper4: 67
Enter marks in paper5: 56
Pass

In [5]:
result

'Fails'

In [16]:
# a person can caste vote if and only if he has a valid CNIC, and age is grater than or 
# equal to 18
# and his name must be in voter list

age  = int(input("Tell me your age: "))
if age >=18:
    
    cnic = input("Do you have a valid CNIC? ").lower()   
    if cnic == "yes":
        
        name_in_list = input("is your name in list? ").lower()        
        if name_in_list == "yes":
            
            status = "Elibigle for vote"
        
        else:
            status = "Not eligible for vote"
    else:
        status = "Not eligible for vote"
else:
    status = "Not eligible for vote"
print(status)

Tell me your age: 34
Do you have a valid CNIC? YES
is your name in list? Yes
Elibigle for vote

In [10]:
status

'Elibigle for vote'

# Python Collections (Python Data Structures)

   - list
   - tuple
   - dictionary
   - set

In [17]:
marks =34

In [18]:
name = "Nasir"

# List
    representation > [  ]

In [19]:
# list of string values
students  = ["nasir", "ahmed", 'ali',"asad", "asif", "kahan"]

In [20]:
students

['nasir', 'ahmed', 'ali', 'asad', 'asif', 'kahan']

In [22]:
# list of numeric values 
marks = [56,78,89,98,67,78,90,98,78]
marks

[56, 78, 89, 98, 67, 78, 90, 98, 78]

In [24]:
# list of mix values
misc_list = [23, 34, "Asad", "Baber", True , False, 45.6]
misc_list

[23, 34, 'Asad', 'Baber', True, False, 45.6]

In [25]:
empty_list = []

In [27]:
print(type(misc_list))

<class 'list'>

### List indices (Index)
    list is an iterable object. Every iterable object has position or index or keys
    iterables object are items that can be accesses individually. 
    Every collection is iterable onbject.

In [32]:
students  = ["nasir", "ahmed", 'ali',"asad", "asif", "khan"]
# index        0         1       2    3       4        5
# left to right

In [33]:
students[2]

'ali'

In [34]:
students[5]

'khan'

In [35]:
students  = ["nasir", "ahmed", 'ali',"asad", "asif", "khan"]
# index        -6       -5       -4    -3      -2      -1  
# right to left

In [36]:
students[-3]

'asad'

In [37]:
students[3]

'asad'

#### Adding and removing members from existing list
    - del 
    - remove()
    - pop()
    
    - append() to add 
    - extend()
    - + 
    - insert()

In [38]:
students

['nasir', 'ahmed', 'ali', 'asad', 'asif', 'khan']

In [40]:
# del removes a value by using index permanently
del students[4]
students

['nasir', 'ahmed', 'ali', 'asad', 'khan']

In [41]:
# remove() removes a value by using value NOT by index
students.remove("ali")
students

['nasir', 'ahmed', 'asad', 'khan']

In [42]:
# pop also removes value by index but by default it removes last index permanently
# whatever is removed by pop(). it throws back the removed value to store or not to sotre
students.pop()

'khan'

In [45]:
students

['nasir', 'ahmed', 'asad']

In [46]:
poppped_value = students.pop()
print(students)
print(poppped_value)

['nasir', 'ahmed']
asad

In [47]:
# we can also provide index to pop()
students.pop(0)
students

['ahmed']

In [48]:
marks

[56, 78, 89, 98, 67, 78, 90, 98, 78]

In [51]:
# clear removes or deletes all values in one go permanently 
marks.clear()

In [52]:
marks

[]

In [53]:
students

['ahmed']

In [56]:
# append() appends the value in the last of the list. It appends only one value at a time. 
students.append("Kashif")
students

['ahmed', 'Kashif', 'Kashif', 'Kashif']

In [57]:
students.append("Aslam")

In [58]:
students

['ahmed', 'Kashif', 'Kashif', 'Kashif', 'Aslam']

In [60]:
# insert adds value in the list on provided index position
students.insert(3, "Faisal")
students

['ahmed', 'Kashif', 'Kashif', 'Faisal', 'Kashif', 'Aslam']

In [61]:
students.insert(0, "yasir")
students

['yasir', 'ahmed', 'Kashif', 'Kashif', 'Faisal', 'Kashif', 'Aslam']

In [62]:
students

['yasir', 'ahmed', 'Kashif', 'Kashif', 'Faisal', 'Kashif', 'Aslam']

In [63]:
teachers = ["hasan", "umer", 'farhan']

In [64]:
# appending a list into a list will add the whole list as a one members.  
students.append(teachers)

In [65]:
students

['yasir',
 'ahmed',
 'Kashif',
 'Kashif',
 'Faisal',
 'Kashif',
 'Aslam',
 ['hasan', 'umer', 'farhan']]

In [66]:
del students[-1]
students

['yasir', 'ahmed', 'Kashif', 'Kashif', 'Faisal', 'Kashif', 'Aslam']

In [67]:
# extending  a list into a list will add the whole list members one by one as individual members.  
students.extend(teachers)
students

['yasir',
 'ahmed',
 'Kashif',
 'Kashif',
 'Faisal',
 'Kashif',
 'Aslam',
 'hasan',
 'umer',
 'farhan']

In [70]:
# ADDING + TWO list will work likes extend function. extending  a list into a list will add 
#the whole list members one by one as individual members.
students + teachers

['yasir',
 'ahmed',
 'Kashif',
 'Kashif',
 'Faisal',
 'Kashif',
 'Aslam',
 'hasan',
 'umer',
 'farhan',
 'hasan',
 'umer',
 'farhan']

In [71]:
len(students)

10

In [72]:
len("Pakistan")

8

In [73]:
new_students = students.copy()
new_students

['yasir',
 'ahmed',
 'Kashif',
 'Kashif',
 'Faisal',
 'Kashif',
 'Aslam',
 'hasan',
 'umer',
 'farhan']

In [74]:
# return the occurence of a member in list
students.count("Kashif")

3

In [75]:
# it returns the position of a memeber in list
students.index('hasan')

7

In [76]:
# it reverse the list permanently in the memory(in memory)
students.reverse()

In [77]:
students

['farhan',
 'umer',
 'hasan',
 'Aslam',
 'Kashif',
 'Faisal',
 'Kashif',
 'Kashif',
 'ahmed',
 'yasir']

In [78]:
students.sort()

In [79]:
students

['Aslam',
 'Faisal',
 'Kashif',
 'Kashif',
 'Kashif',
 'ahmed',
 'farhan',
 'hasan',
 'umer',
 'yasir']

### Slicing a list 
    - it return a copy of subset of list.

In [80]:
students

['Aslam',
 'Faisal',
 'Kashif',
 'Kashif',
 'Kashif',
 'ahmed',
 'farhan',
 'hasan',
 'umer',
 'yasir']

In [81]:
students[4:8]  # actual me 7 tak slice hoga

['Kashif', 'ahmed', 'farhan', 'hasan']

In [83]:
students[7:10]

['hasan', 'umer', 'yasir']

In [84]:
students[:6]# it start from 0 index

['Aslam', 'Faisal', 'Kashif', 'Kashif', 'Kashif', 'ahmed']

In [85]:
students[3:] # it ends at vert last index

['Kashif', 'Kashif', 'ahmed', 'farhan', 'hasan', 'umer', 'yasir']

In [87]:
copy_list  = students[:] # which is parallel to copy()

In [88]:
copy_list

['Aslam',
 'Faisal',
 'Kashif',
 'Kashif',
 'Kashif',
 'ahmed',
 'farhan',
 'hasan',
 'umer',
 'yasir']

In [91]:
# important : by default slicing direction is left to right

students[0:10:2]  # start:end:step

['Aslam', 'Kashif', 'Kashif', 'farhan', 'umer']

In [92]:
students[0:10:3]  # start:end:step

['Aslam', 'Kashif', 'farhan', 'yasir']

In [93]:
students[6:1]# right to left indexing not working. will not copy anything.

[]

In [95]:
students[2:-7]

['Kashif']

In [96]:
students[4:-2]

['Kashif', 'ahmed', 'farhan', 'hasan']

In [94]:
students

['Aslam',
 'Faisal',
 'Kashif',
 'Kashif',
 'Kashif',
 'ahmed',
 'farhan',
 'hasan',
 'umer',
 'yasir']

In [97]:
students[-1:3]

[]

In [98]:
students[-1:3:-1]

['yasir', 'umer', 'hasan', 'farhan', 'ahmed', 'Kashif']

In [99]:
students

['Aslam',
 'Faisal',
 'Kashif',
 'Kashif',
 'Kashif',
 'ahmed',
 'farhan',
 'hasan',
 'umer',
 'yasir']

In [100]:
students[::-1]

['yasir',
 'umer',
 'hasan',
 'farhan',
 'ahmed',
 'Kashif',
 'Kashif',
 'Kashif',
 'Faisal',
 'Aslam']