# Tuple
   - Represtation > () 
   - Tuple is immutable. Can be copied, indexed, sliced, but no other value can be aadded similiry we can not delete any 
     value from tuple

In [1]:
my_tuple = ("Nasir", 'Hussain', "Data Analytics", 'SBIL')

In [2]:
my_tuple

('Nasir', 'Hussain', 'Data Analytics', 'SBIL')

In [4]:
print(type(my_tuple))

<class 'tuple'>

In [5]:
my_tuple[2]

'Data Analytics'

In [6]:
my_tuple[-1]

'SBIL'

In [23]:
my_tuple

('Nasir', 'Hussain', 'Data Analytics', 'SBIL')

In [7]:
my_tuple[1:3]

('Hussain', 'Data Analytics')

In [8]:
my_tuple.count('Hussain')

1

In [9]:
my_tuple.index("Hussain")

1

# Dictionary
    - Representation > {}
    - Dictionary Member is combination of KEY:VALUE pair
    - There is no index concept in dictionary.
    - Mutable

In [10]:
record1 = {'roll_num':1234,'name':'Kamran','course':"Data Analytics"}

In [11]:
record1

{'roll_num': 1234, 'name': 'Kamran', 'course': 'Data Analytics'}

In [12]:
print(type(record1))

<class 'dict'>

In [13]:
# Accesssing member from dictionry: using key
record1['name']

'Kamran'

In [14]:
record1['roll_num']

1234

In [15]:
# deleting a member (key:value) using key
del record1['course']
record1

{'roll_num': 1234, 'name': 'Kamran'}

In [16]:
# updating the value of a key. 
record1['roll_num'] = 4321
record1

{'roll_num': 4321, 'name': 'Kamran'}

In [17]:
# adding a new member in dictionary
record1['course'] = "Data Sciences"
record1

{'roll_num': 4321, 'name': 'Kamran', 'course': 'Data Sciences'}

In [18]:
record1['Days']= "Wednesday & Thursday"
record1

{'roll_num': 4321,
 'name': 'Kamran',
 'course': 'Data Sciences',
 'Days': 'Wednesday & Thursday'}

In [19]:
record2  = record1.copy()
record2

{'roll_num': 4321,
 'name': 'Kamran',
 'course': 'Data Sciences',
 'Days': 'Wednesday & Thursday'}

In [20]:
record2.keys()

dict_keys(['roll_num', 'name', 'course', 'Days'])

In [21]:
record2.values()

dict_values([4321, 'Kamran', 'Data Sciences', 'Wednesday & Thursday'])

In [22]:
record2.items()

dict_items([('roll_num', 4321), ('name', 'Kamran'), ('course', 'Data Sciences'), ('Days', 'Wednesday & Thursday')])

In [24]:
print(record2.get("name"))
print(record2['name'])

Kamran
Kamran

# Set
   - representation > {}
   - a  collection of distinct object (unique)
   - index , slice

In [26]:
transaction = {}
type(transaction)

dict

In [27]:
transaction = {2}
type(transaction)

set

In [28]:
a_set = {1,2,3,4,3,4,5,6,5,6,5,4,7,8,9,0}

In [29]:
len(a_set)

10

In [30]:
a_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
a_set[2]

TypeError: 'set' object is not subscriptable

# Loops
    - Python loop are of two types:
        - for-in loops
        - while loops

In [33]:
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')
print('Nasir')

Nasir
Nasir
Nasir
Nasir
Nasir
Nasir
Nasir
Nasir
Nasir
Nasir
Nasir
Nasir

In [35]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
for num in range(10):
    print(num, "Nasir")

0 Nasir
1 Nasir
2 Nasir
3 Nasir
4 Nasir
5 Nasir
6 Nasir
7 Nasir
8 Nasir
9 Nasir

In [44]:
for num in range(1,10):
    print(num, "Nasir")

1 Nasir
2 Nasir
3 Nasir
4 Nasir
5 Nasir
6 Nasir
7 Nasir
8 Nasir
9 Nasir

In [45]:
for num in range(1,10,1):
    print(num, "Nasir")

1 Nasir
2 Nasir
3 Nasir
4 Nasir
5 Nasir
6 Nasir
7 Nasir
8 Nasir
9 Nasir

In [46]:
for num in range(1,10,2):
    print(num, "Nasir")

1 Nasir
3 Nasir
5 Nasir
7 Nasir
9 Nasir

In [49]:
for num in range(10,0,-1):
    print(num, "Nasir")

10 Nasir
9 Nasir
8 Nasir
7 Nasir
6 Nasir
5 Nasir
4 Nasir
3 Nasir
2 Nasir
1 Nasir

In [50]:
for char in "Pakistan":
    print(char)

P
a
k
i
s
t
a
n

In [55]:
students = ['aslam', 'faisal', 'kashif ali', 'kashif ahmed', 'kashif khan', 'ahmed', 'farhan', 'hasan', 'umer', 'yasir']

for student in students:
    print(student.upper())

ASLAM
FAISAL
KASHIF ALI
KASHIF AHMED
KASHIF KHAN
AHMED
FARHAN
HASAN
UMER
YASIR

In [56]:
for student in students:
    if student.startswith("a"):
        print("Email sent to", student)

Email sent to aslam
Email sent to ahmed

In [57]:
for student in students:
    if student.count('a') >=2:
        print("Email sent to", student)

Email sent to aslam
Email sent to faisal
Email sent to kashif ali
Email sent to kashif ahmed
Email sent to kashif khan
Email sent to farhan
Email sent to hasan