# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [6]:
# type your code here
print("shoaib",2,True,8.675)

('shoaib', 2, True, 8.675)

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [13]:
# type your code here
print("-".join(["shoaib",str(2),str(True),str(8.675)]))

shoaib-2-True-8.675

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [15]:
# type your code here
print(" ".join(["Pakistan",str(123),str(23.4),str(True)]))

Pakistan 123 23.4 True

In [16]:
print('Hello',end=' ')
print("Hi")

Hello Hi

4) Can a python print function take no value to print???

In [18]:
# type your answer here
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [48]:
#type your code here
friendName = "Mr. Ahmed"
age = 30
birthYear= 2005
profession ="lawyer"
passOut= 2005
lawFirm= 'The Himalya Associates'
joinedin = 2015
firmLocation = "Karachi"
height= 5.10
weight= 70600
income= 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [20]:
#type your code here 
current_year =2023
passout= 2005
print(current_year-passout)

18

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [25]:
#type your code here 
currentYear= 2023
joinedIn= 2015
workingSince = currentYear-joinedIn
print("years of exprience is",workingSince)

years of exprience is 8

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [46]:
#type your code here 
dollars = income/ 286.55
print(dollars)

697.9584714709474

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [41]:
#type your code here 
print(int(dollars))

697

10) Print the type of Mr. Ahmed's weight.  Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [51]:
#type your code here 
print(type(weight))
weightInKG = weight//1000
weightInKG

<class 'int'>

70

11) print the year of birth of Mr. Ahmed.

In [52]:
#type your code here
print(currentYear-age)

1993

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [59]:
#type your code here 

students= 6

if (100 % students) == 0:
    print(f"100 can be divided equally in {students} students")
else:
        print(f"100 can not be divided equally among {students} students")

100 can not be divided equally among 6 students